.cover {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  max-width: 100%;
  color: #fff;
  padding-top: 92px;
}




@media screen and (max-width: 768px) {
  .cover {
    padding-top: 48px;
  }
}

@media screen and (max-width: 576px) {
  .cover {
    padding-top: 0;
  }
}
