.footer {
  display: flex;
  justify-content: space-between;

  padding: 90px 48px 24px;
}

@media screen and (max-width: 956px) {
  .footer {
    padding: 78px 24px 24px;
  }
}

@media screen and (max-width: 896px) {
  .footer {
    padding: 80px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 79px 24px 24px;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 59px 16px 24px;
  }  
}